<!DOCTYPE html>

<html>

<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




	<title> MS Paint Gallery | Collections </title>
	
</head>

<body>


<div id= "header">

	<ul>
		<li><a href="homebutton">Home</a></li>
		<li><a href="homebutton">Project #1</a></li>
		<li><a href="homebutton">Project #2</a></li>
		<li><a href="homebutton">Project #3</a></li>
	</ul>
	
</div>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

<div class= "main">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1> Collection </h1>
	<h2> My MS Paint Gallery </h2>

	<br>

	<p> Welcome to my page where I showcase some of my Microsoft paint creations. Most of these pictures were created on my free time and with the consent of those depicted within them.  
	<br>
	<br>
	 *Note* These pictures are not to be taken seriously at all.
	<br>
	<br>
     *Side note* No animals were harmed in the creation of any of these pictures. 
	 </p>


</div>

<div id= "division">
	
</div>

<!--
<div> 

	<h3> A Little Too Much </h3>

	<br>

	<img class="Picture1" src="A little too much.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Aliens</h3>

	<br>

	<img class="Picture2" src="Aliens.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Bright Idea </h3>

	<br>

	<img class="Picture3" src="Bright Idea.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Chris' Idea </h3>

	<br>

	<img class="Picture4" src="Chris' Idea.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Connect 4 </h3>

	<br>

	<img class="Picture5" src="connect 4.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> End of the World </h3>

	<br>

	<img class="Picture6" src="end of the world.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Game of Thrones and Justice </h3>

	<br>

	<img class="Picture7" src="Game of Thrones and Justice.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Game of Thrones and Justice (Part 2) </h3>

	<br>

	<img class="Picture8" src="Game of Thrones and Justice 2.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Mancala Loser </h3>

	<br>

	<img class="Picture9" src="mancala loser.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Revenge >:} </h3>

	<br>

	<img class="Picture10" src="Revenge.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Save the Kitten!!! </h3>

	<br>

	<img class="Picture11" src="Save the Kitten!!!.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Super Powers </h3>

	<br>

	<img class="Picture12" src="Super Powers.png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Trap Doors LOL </h3>

	<br>

	<img class="Picture13" src="Trap Doors (Oh No).png">

</div>

<div id= "division">
	
</div>

<div> 

	<h3> Well, That's Unfortunate </h3>

	<br>

	<img class="Picture15" src="unfortunate.png">

</div>

<br>

-->
<div id="footer">

	<ul>
		<li><a href="Home">Home</a></li>
		<li><a href="Backtotop">Back to Top</a></li>
		<li><a href="Help">Help</a></li>
		<li><a href="Contact Us">Contact Us</a></li>
	</ul>

    &copy; 2018 BrianNwaobasi.com  &nbsp All rights reserved.

	
</div>

</body>

</html>